.activist-email-template {
  background-color: #ebebeb;
  padding: 1.5em;
  display: none;
}

#activist-army-container {
  text-align: center;
}

.activist-intro {
  text-align: left;
}

.activist-message {
  width: 100%;
  box-sizing: border-box;
  padding: .5em;
}

.activist-candidate {
  display: inline-block;
  width: 9em;
  border-radius: .3em;
  vertical-align: top;
  padding: 1em;
  background-color: #ffd2d2;
  margin: .5em;
  text-align: center;
  position: relative;
  transform: translate(6px, 6px);
  transition: all .3s ease-in-out;
  cursor: pointer;

}

@media (max-width: 400px) {
  .activist-candidate {
    width: 8em;
  }
}

.activist-candidate--selected {
  transform: translate(0, 0);
  -webkit-box-shadow: .33em .33em 0px 0px rgba(184, 184, 184, 1);
  -moz-box-shadow: .33em .33em 0px 0px rgba(184, 184, 184, 1);
  box-shadow: .33em .33em 0px 0px rgba(184, 184, 184, 1);
  background-color: rgb(240, 240, 240);
}

.activist-candidate--unselected {
}



.activist-candidate__photo {
  width: 6.5em;
  height: 6.5em;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.activist-candidate__name {
  font-size: 1em !important;
  line-height: 1em !important;
  margin: .9em 0 .9em 0 !important;
}

.activist-candidate__party {
  font-size: .9em !important;
  font-weight: normal !important;
  line-height: 1em !important;
  margin-bottom: 0.9em !important;
}

.activist-candidate__label {
  bottom: .5em;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.activist-candidate__no-email {
  bottom: .5em;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto !important;
  padding: 0;
}

.activist-label {
  display: none;
  font-size: 0;
  color: rgba(0, 0, 0, 0);
}

.activist-input {
  margin: .5em auto .5em auto;
  padding: .3em;
  width: 20em;
  display: block;
  font-size: 1em;
  color: black;
}

#activist-send {
  margin: 1em auto;
  padding: .6em 2em;
  font-size: 1.2em !important;
  display: block;
}

.activist-candidate__card-label{
  margin: .5em
}

.activist-candidate__card-label:first-child {
  margin-left: 0;
}

.activist-candidate__card-label:last-child {
  margin-right: 0;
}

.activist-send--disabled {
  background-color: grey !important;
  color: lightgrey !important;
  cursor: default !important;
}

.pageHero .container {
  background-image: url('./aa-banner.jpg') !important;
  background-color: rgb(250, 239, 209) !important;
  background-size: contain !important;
}


.activist--user-contribution {

  width: 100%;
  height: 6em;
  padding: 1em;
}

#activist-loading {
  text-align: center;
}

#activist-loading-container {
  display: none;
}

.activist-loading-container--show {
  display: inherit !important;
}
/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-pulse,
.la-ball-pulse > div {
  margin: 0 auto;
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.la-ball-pulse {
    display: block;
    font-size: 0;
    color: #fff;
}
.la-ball-pulse.la-dark {
    color: #333;
}
.la-ball-pulse > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-ball-pulse {
    width: 54px;
    height: 18px;
}
.la-ball-pulse > div:nth-child(1) {
    -webkit-animation-delay: -200ms;
       -moz-animation-delay: -200ms;
         -o-animation-delay: -200ms;
            animation-delay: -200ms;
}
.la-ball-pulse > div:nth-child(2) {
    -webkit-animation-delay: -100ms;
       -moz-animation-delay: -100ms;
         -o-animation-delay: -100ms;
            animation-delay: -100ms;
}
.la-ball-pulse > div:nth-child(3) {
    -webkit-animation-delay: 0ms;
       -moz-animation-delay: 0ms;
         -o-animation-delay: 0ms;
            animation-delay: 0ms;
}
.la-ball-pulse > div {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 100%;
    -webkit-animation: ball-pulse 1s ease infinite;
       -moz-animation: ball-pulse 1s ease infinite;
         -o-animation: ball-pulse 1s ease infinite;
            animation: ball-pulse 1s ease infinite;
}
.la-ball-pulse.la-sm {
    width: 26px;
    height: 8px;
}
.la-ball-pulse.la-sm > div {
    width: 4px;
    height: 4px;
    margin: 2px;
}
.la-ball-pulse.la-2x {
    width: 120px;
    height: 36px;
}
.la-ball-pulse.la-2x > div {
    width: 20px;
    height: 20px;
    margin: 8px;
}
.la-ball-pulse.la-3x {
    width: 162px;
    height: 54px;
}
.la-ball-pulse.la-3x > div {
    width: 30px;
    height: 30px;
    margin: 12px;
}
/*
 * Animation
 */
@-webkit-keyframes ball-pulse {
    0%,
    60%,
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    30% {
        opacity: .1;
        -webkit-transform: scale(.01);
                transform: scale(.01);
    }
}
@-moz-keyframes ball-pulse {
    0%,
    60%,
    100% {
        opacity: 1;
        -moz-transform: scale(1);
             transform: scale(1);
    }
    30% {
        opacity: .1;
        -moz-transform: scale(.01);
             transform: scale(.01);
    }
}
@-o-keyframes ball-pulse {
    0%,
    60%,
    100% {
        opacity: 1;
        -o-transform: scale(1);
           transform: scale(1);
    }
    30% {
        opacity: .1;
        -o-transform: scale(.01);
           transform: scale(.01);
    }
}
@keyframes ball-pulse {
    0%,
    60%,
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
    }
    30% {
        opacity: .1;
        -webkit-transform: scale(.01);
           -moz-transform: scale(.01);
             -o-transform: scale(.01);
                transform: scale(.01);
    }
}
